.why-section {
    background-color: var(--light-text-color, #FFFFFF);

    &__title {
        color: var(--text-color, #252B42);
        margin-top: 100px;
        margin-bottom: 10px;
    
    }

    &__subtitle {
        color: var(--second-text-color, #737373);
        margin-bottom: 80px;
        max-width: 470px;

        margin-left: auto;
        margin-right: auto;
        @include mq('phone-wide') {
            margin-left: 5vw;
            margin-right: 5vw;
        }        

    }

    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 100px;

        @include mq('tablet') {
            flex-direction: column;
        }
    }

    &__card {
        display: flex;
        max-width: 325px;
        width: 100%;
        padding: 30px 40px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        background: #F9F9F9;
        box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);

    }

    .azure-card {
        background-color: var(--secondary-color-1, #00A0C1);
        color: var(--light-text-color, #FFF);
    }
}